body {
     font-family: 'Tomorrow', sans-serif;
     font-size: 2.5vh;
     background-color: rgb(76,68,68);

}

.card-body {
    font-family: 'Tomorrow', sans-serif;
    background-color: rgb(235,220,200);
}

.card-title {
    font-weight: bold;
}

.card-header {
    font-size: 4.5vh;
    background-color: rgba(21,18,11,255);
    color: rgb(235,220,200);
}

.card-header:hover {
    font-weight: bold;
    color: rgb(208,148,71);
}

#mainNav {
    background-color: rgba(21,18,11,255);
}


.nav-link {
    color: rgb(235,220,200);
    max-height: 10vh;
    font-family: 'Tomorrow', sans-serif;
    font-size: 4vh;
}

.nav-link:hover {
    font-weight: bold;
    color: rgb(208,148,71);
}

.logo_image {
    max-height: 10vh;
    max-width: 50vw;
}

#button {
    background-color: rgba(21,18,11,255);
    color: rgb(235,220,200);
}

#button:hover {
    font-weight: bold;
    background-color: rgb(208,148,71);
    color: rgba(21,18,11,255);
}

#post_detail {
    background-color: rgb(235,220,200);
}

#page-link {
    background-color: rgba(21,18,11,255);
    color: rgb(235,220,200);
}

#page-link:hover {
    font-weight: bold;
    background-color: rgb(208,148,71);
    color: rgba(21,18,11,255);
}

#keyword_header {
    color: rgb(208,148,71);
}

#keyword_button {
    font-size: 8vh;
    background-color: rgba(21,18,11,255);
    color: rgb(235,220,200);
}

#keyword_button:hover {
    font-weight: bold;
    background-color: rgb(208,148,71);
    color: rgba(21,18,11,255);
}

#form_input{
   text-align: center;
}

.form_field {
    min-width: 35vw;
    max-width: 80vw;
}

#footer_text {
    padding-top:3vh;
    color: rgb(235,220,200);
}

#footer_link {
    padding-top:3vh;
    color: rgb(235,220,200);
}

#footer_text:link {
    color: rgb(208,148,71);
}

@media (max-width: 640px) {

    .nav-link {
        font-size: 2vh;
    }

}

